@{
    ViewBag.Title = "MI3";
}

<h2>Search.</h2>
<hr />

<style>
    .collection {
        margin: 8px;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        background-color: #FFF;
        border-color: #FFF;
    }

        .collection:hover {
            border-color: #DDD;
        }

    .summary {
        width: 100%;
        float: right;
    }

    .title {
        font-size: 200%;
        font-family: Arial;
        text-decoration: none;
        color: #268fdd;
    }

        .title:hover {
            color: #125a8f;
            text-decoration: none;
        }

    .tag {
        border-color: #3b3b3b;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        background-color: #daf1ff;
        color: #3b3b3b;
        font-weight: bold;
        margin: 3px;
        padding: 3px;
    }

        .tag:hover {

            text-decoration: none;
            background-color: #aee1ff;
            color: #1b1b1b;
        }
</style>


@model List<MI3.Models.Repository>

@Html.Partial("_SideBar", MI3.Startup.Tags)

@{
    string alternate = "";
    
    foreach (var data in Model) {
        if (alternate == "even") { alternate = "odd"; } else { alternate = "even"; }
        <div class="collection row container">
            <!--
            <div class="col-xs-1" style="width:15px">
            </div>
            -->
            <div class="col-lg-11">
                <div class="row">
                    @{
                        string name = data.Name;
                        if (name == null || name == "") {
                            name = "NO NAME FOUND";
                        }
                    @Html.ActionLink(name, "View", "Repository", new { id = data.ID }, new { @class = "title" })
                        }
                </div>
                <div class="row">
                    Authors: @data.Authors
                </div>
                <div class="row">
                    @data.Summary
                </div>
                <div class="row" style="padding-top:5px;">
                    @{
                        foreach (var t in data.Tags) {
                            @Html.ActionLink(t.Key, "Tag", new { name = t.Key }, new { @class = "tag col-m-1" })

                        }
                    }
                </div>
            </div>
        </div>

    }

}
