@{
    //optional to specify this
    //width: 100%;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        width: 100%;
    }

    .nopadding {
        padding: 0px;
        margin: 0px;
    }

    

    .collection {
        margin: 8px;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        padding: 8px;
        background-color: #FFF;
        border-color: #DDD;
        
    }


    .ml-0 {
        margin-left: 0px;
    }

    .name_part {
        margin-right: 15px;
        width:120px;
        min-width:120px;
        height:20px;
    }
    
</style>
@model MI3.Models.Repository



<div class="container nopadding">
    <div class="row" style="display:flex">
        <div class="col-sm-3 collection">Data</div>
        <div class="col-sm-7 collection">
            <h1 class="row ml-0">
                @Model.Name
            </h1>
            <div class="col-sm-3 container">
                @{
                    int i = 0;
                    @Html.Partial("_RepoItem", new { Name = "Source", isEven = (i++ % 2 == 0), Value = Model.MetaData.Source })
                    @Html.Partial("_RepoItem", new { Name = "Url", isEven = (i++ % 2 == 0), Value = Model.Url })
                    @Html.Partial("_RepoItem", new { Name = "Authors", isEven = (i++ % 2 == 0), Value = Model.Authors })
                    @Html.Partial("_RepoItem", new { Name = "Upload Date", isEven = (i++ % 2 == 0), Value = Model.MetaData.DateGenerated })
                    @Html.Partial("_RepoItem", new { Name = "UID", isEven = (i++ % 2 == 0), Value = Model.ID })
                    @Html.Partial("_RepoItem", new { Name = "Public Access", isEven = (i++ % 2 == 0), Value = Model.MetaData.PublicAccess })
                    @Html.Partial("_RepoItem", new { Name = "Has Labels", isEven = (i++ % 2 == 0), Value = Model.MetaData.HasLabels })
                    if (Model.MetaData.HasLabels) {
                        @Html.Partial("_RepoItem", new { Name = "Label Format", isEven = (i++ % 2 == 0), Value = Model.MetaData.LabelFormat })
                    }
                    @Html.Partial("_RepoItem", new { Name = "Modality", isEven = (i++ % 2 == 0), Value = Model.MetaData.Modality })

                    @Html.Partial("_RepoItem", new { Name = "Summary", isEven = (i++ % 2 == 0), Value = Model.Summary })



                }




            </div>


        </div>
        <div class="col-sm-3 collection">References</div>
    </div>
</div>